body {
  height: 100%;
  width: 100%;
  background-color: #E5E5E5;
}

.sidenav {
  height: 100%;
  width: 15%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #7E82E7;
  z-index:3;
}

.sidenav .container {
  position: fixed;
  z-index:2;
  width: 15%;
  top: 20px;
  left:0;
  margin: auto;
  padding:0;
}

.sidenav .container a .content {
  width: 90%;
  height: 40px;
  margin-top: 10px;
  border-radius: 10px;
  margin-left: 0;
  display:flex;
  align-items:center;
  justify-content:left;
}

.sidenav .container a .content:hover {
  background-color: #A5A9FF;
}

.sidenav .container a .content i {
  margin-right: 10px;
  margin-left: 20px;
}
.sidenav .container a .content {
  font-family: 'Roboto', Calibri, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  text-decoration: none;
  color: #FFFFFF;
  margin-left: 5%;
}

/* texte */
.main {
  margin-left: 16vw; /* Same as the width of the sidenav */
}