<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_16a4e841550a428e9c70560363e79a0f {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>    
    
            <div class="folium-map" id="map_16a4e841550a428e9c70560363e79a0f" ></div>
        
</body>
<script>    
    
            var map_16a4e841550a428e9c70560363e79a0f = L.map(
                "map_16a4e841550a428e9c70560363e79a0f",
                {
                    center: [0.0, 0.0],
                    crs: L.CRS.EPSG3857,
                    zoom: 2,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_01b9b69d5c524d7bb5ab05c4c02c43ce = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_16a4e841550a428e9c70560363e79a0f);
        
    
            var marker_cluster_6137a84bcdcc402483f790da87d784a5 = L.markerClusterGroup(
                {}
            );
            map_16a4e841550a428e9c70560363e79a0f.addLayer(marker_cluster_6137a84bcdcc402483f790da87d784a5);
        
    
            var circle_marker_9b68a11904374dc4930e24041364a438 = L.circleMarker(
                [38.89206, -77.01991],
                {"bubblingMouseEvents": true, "color": "#bc5719", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#bc5719", "fillOpacity": 0.75, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 100, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_6137a84bcdcc402483f790da87d784a5);
        
    
            circle_marker_9b68a11904374dc4930e24041364a438.bindTooltip(
                `<div>
                     États-Unis : 719 visiteurs
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_b8db56cf4c95484ab04d7ffe861523dc = L.circleMarker(
                [45.42042, -75.69243],
                {"bubblingMouseEvents": true, "color": "#3eae5d", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3eae5d", "fillOpacity": 0.75, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 13.5, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_6137a84bcdcc402483f790da87d784a5);
        
    
            circle_marker_b8db56cf4c95484ab04d7ffe861523dc.bindTooltip(
                `<div>
                     Canada : 27 visiteurs
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_04a6f324e8ad4e8b92d174d22c3f5a10 = L.circleMarker(
                [-15.77938, -47.92574],
                {"bubblingMouseEvents": true, "color": "#acd6c6", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#acd6c6", "fillOpacity": 0.75, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_6137a84bcdcc402483f790da87d784a5);
        
    
            circle_marker_04a6f324e8ad4e8b92d174d22c3f5a10.bindTooltip(
                `<div>
                     Brésil : 12 visiteurs
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_dee59b0caff04460a03f90759bf6c773 = L.circleMarker(
                [36.80007, 10.18706],
                {"bubblingMouseEvents": true, "color": "#7f195", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#7f195", "fillOpacity": 0.75, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_6137a84bcdcc402483f790da87d784a5);
        
    
            circle_marker_dee59b0caff04460a03f90759bf6c773.bindTooltip(
                `<div>
                     Tunisie : 7 visiteurs
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_a73db26fa4764df0a0705ce2ae7f7df3 = L.circleMarker(
                [52.52343, 13.41144],
                {"bubblingMouseEvents": true, "color": "#de8920", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#de8920", "fillOpacity": 0.75, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_6137a84bcdcc402483f790da87d784a5);
        
    
            circle_marker_a73db26fa4764df0a0705ce2ae7f7df3.bindTooltip(
                `<div>
                     Allemagne : 9 visiteurs
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_7f005d83018e49fcb8b7108f687952af = L.circleMarker(
                [48.85689, 2.35085],
                {"bubblingMouseEvents": true, "color": "#74467d", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#74467d", "fillOpacity": 0.75, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 22.0, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_6137a84bcdcc402483f790da87d784a5);
        
    
            circle_marker_7f005d83018e49fcb8b7108f687952af.bindTooltip(
                `<div>
                     France : 44 visiteurs
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_7db160d551c04da88e232a5ade2d5ed2 = L.circleMarker(
                [55.75654, 37.61492],
                {"bubblingMouseEvents": true, "color": "#752fc7", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#752fc7", "fillOpacity": 0.75, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_6137a84bcdcc402483f790da87d784a5);
        
    
            circle_marker_7db160d551c04da88e232a5ade2d5ed2.bindTooltip(
                `<div>
                     Russie : 4 visiteurs
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_6f46f9366f38412a96e3398de156f515 = L.circleMarker(
                [35.68696, 139.74946],
                {"bubblingMouseEvents": true, "color": "#1e899f", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#1e899f", "fillOpacity": 0.75, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_6137a84bcdcc402483f790da87d784a5);
        
    
            circle_marker_6f46f9366f38412a96e3398de156f515.bindTooltip(
                `<div>
                     Japon : 6 visiteurs
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_44d3ee20287540f287fb9dd9ea63ec7e = L.circleMarker(
                [41.89056, 12.49427],
                {"bubblingMouseEvents": true, "color": "#e97b1c", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#e97b1c", "fillOpacity": 0.75, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_6137a84bcdcc402483f790da87d784a5);
        
    
            circle_marker_44d3ee20287540f287fb9dd9ea63ec7e.bindTooltip(
                `<div>
                     Italie : 6 visiteurs
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_1f4606f4025540f2af7f083530d84f95 = L.circleMarker(
                [28.63243, 77.21879],
                {"bubblingMouseEvents": true, "color": "#32dbec", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#32dbec", "fillOpacity": 0.75, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_6137a84bcdcc402483f790da87d784a5);
        
    
            circle_marker_1f4606f4025540f2af7f083530d84f95.bindTooltip(
                `<div>
                     Inde : 2 visiteurs
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_ed279a5a43f545168e8d961b44bbcc2f = L.circleMarker(
                [40.41669, -3.70035],
                {"bubblingMouseEvents": true, "color": "#546ceb", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#546ceb", "fillOpacity": 0.75, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_6137a84bcdcc402483f790da87d784a5);
        
    
            circle_marker_ed279a5a43f545168e8d961b44bbcc2f.bindTooltip(
                `<div>
                     Espagne : 3 visiteurs
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_432c2a6b9a00458cb95f07717415d493 = L.circleMarker(
                [51.50015, -0.12624],
                {"bubblingMouseEvents": true, "color": "#6c54f7", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#6c54f7", "fillOpacity": 0.75, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 12.5, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_6137a84bcdcc402483f790da87d784a5);
        
    
            circle_marker_432c2a6b9a00458cb95f07717415d493.bindTooltip(
                `<div>
                     Royaume-Uni : 25 visiteurs
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_bce67f821e814e7aa8048c75c7a995fb = L.circleMarker(
                [-35.28078, 149.1314],
                {"bubblingMouseEvents": true, "color": "#3852ba", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3852ba", "fillOpacity": 0.75, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_6137a84bcdcc402483f790da87d784a5);
        
    
            circle_marker_bce67f821e814e7aa8048c75c7a995fb.bindTooltip(
                `<div>
                     Australie : 5 visiteurs
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_e5ea9a80a8344e5e9616eabe0bbf570d = L.circleMarker(
                [50.84554, 4.35571],
                {"bubblingMouseEvents": true, "color": "#359e75", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#359e75", "fillOpacity": 0.75, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_6137a84bcdcc402483f790da87d784a5);
        
    
            circle_marker_e5ea9a80a8344e5e9616eabe0bbf570d.bindTooltip(
                `<div>
                     Belgique : 1 visiteurs
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_4ed34b4622d049e9b39567b509a417bb = L.circleMarker(
                [25.03841, 121.5637],
                {"bubblingMouseEvents": true, "color": "#71bae0", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#71bae0", "fillOpacity": 0.75, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_6137a84bcdcc402483f790da87d784a5);
        
    
            circle_marker_4ed34b4622d049e9b39567b509a417bb.bindTooltip(
                `<div>
                     Taïwan : 1 visiteurs
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_90ef611e28464b52b54605d7fc92f7d9 = L.circleMarker(
                [50.08781, 14.42046],
                {"bubblingMouseEvents": true, "color": "#362549", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#362549", "fillOpacity": 0.75, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_6137a84bcdcc402483f790da87d784a5);
        
    
            circle_marker_90ef611e28464b52b54605d7fc92f7d9.bindTooltip(
                `<div>
                     Tchéquie : 1 visiteurs
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_1bc3273e82504e00adc560a39ff3bf37 = L.circleMarker(
                [52.37317, 4.89066],
                {"bubblingMouseEvents": true, "color": "#796fdc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#796fdc", "fillOpacity": 0.75, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_6137a84bcdcc402483f790da87d784a5);
        
    
            circle_marker_1bc3273e82504e00adc560a39ff3bf37.bindTooltip(
                `<div>
                     Pays-Bas : 5 visiteurs
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_15711af52b944437b62a5bede15e6e47 = L.circleMarker(
                [18.22452, -66.47963],
                {"bubblingMouseEvents": true, "color": "#576816", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#576816", "fillOpacity": 0.75, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_6137a84bcdcc402483f790da87d784a5);
        
    
            circle_marker_15711af52b944437b62a5bede15e6e47.bindTooltip(
                `<div>
                     Porto Rico : 1 visiteurs
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_b4282c8751fd48ea8fccd0b8f6866bef = L.circleMarker(
                [-34.90556, -56.18525],
                {"bubblingMouseEvents": true, "color": "#2769bb", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#2769bb", "fillOpacity": 0.75, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_6137a84bcdcc402483f790da87d784a5);
        
    
            circle_marker_b4282c8751fd48ea8fccd0b8f6866bef.bindTooltip(
                `<div>
                     Uruguay : 1 visiteurs
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_a0aa857e06114f92902a604b55e42dba = L.circleMarker(
                [46.948, 7.44813],
                {"bubblingMouseEvents": true, "color": "#8b1cb", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#8b1cb", "fillOpacity": 0.75, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_6137a84bcdcc402483f790da87d784a5);
        
    
            circle_marker_a0aa857e06114f92902a604b55e42dba.bindTooltip(
                `<div>
                     Suisse : 1 visiteurs
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_374d01f6794d4137ae69079325114831 = L.circleMarker(
                [38.70701, -9.13564],
                {"bubblingMouseEvents": true, "color": "#e6f218", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#e6f218", "fillOpacity": 0.75, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_6137a84bcdcc402483f790da87d784a5);
        
    
            circle_marker_374d01f6794d4137ae69079325114831.bindTooltip(
                `<div>
                     Portugal : 2 visiteurs
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_ca47298530f646a3952dc16f09a7434e = L.circleMarker(
                [19.43268, -99.13421],
                {"bubblingMouseEvents": true, "color": "#5cd24", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#5cd24", "fillOpacity": 0.75, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_6137a84bcdcc402483f790da87d784a5);
        
    
            circle_marker_ca47298530f646a3952dc16f09a7434e.bindTooltip(
                `<div>
                     Mexique : 12 visiteurs
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_480f5757646f415cb83a2e14a09dbb0c = L.circleMarker(
                [14.58226, 120.9748],
                {"bubblingMouseEvents": true, "color": "#c83e28", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#c83e28", "fillOpacity": 0.75, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_6137a84bcdcc402483f790da87d784a5);
        
    
            circle_marker_480f5757646f415cb83a2e14a09dbb0c.bindTooltip(
                `<div>
                     Philippines : 2 visiteurs
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_839c30bfcde74cb281dbf373d1902e49 = L.circleMarker(
                [59.91382, 10.73874],
                {"bubblingMouseEvents": true, "color": "#8c2095", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#8c2095", "fillOpacity": 0.75, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_6137a84bcdcc402483f790da87d784a5);
        
    
            circle_marker_839c30bfcde74cb281dbf373d1902e49.bindTooltip(
                `<div>
                     Norvège : 1 visiteurs
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_048d39d0ba554f1a91a78bcbc1407ea2 = L.circleMarker(
                [4.60688, -74.07184],
                {"bubblingMouseEvents": true, "color": "#77625a", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#77625a", "fillOpacity": 0.75, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_6137a84bcdcc402483f790da87d784a5);
        
    
            circle_marker_048d39d0ba554f1a91a78bcbc1407ea2.bindTooltip(
                `<div>
                     Colombie : 1 visiteurs
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_b7583b1308724264b02dcc4da00a8e03 = L.circleMarker(
                [-33.44599, -70.66706],
                {"bubblingMouseEvents": true, "color": "#d5d5d4", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#d5d5d4", "fillOpacity": 0.75, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_6137a84bcdcc402483f790da87d784a5);
        
    
            circle_marker_b7583b1308724264b02dcc4da00a8e03.bindTooltip(
                `<div>
                     Chili : 1 visiteurs
                 </div>`,
                {"sticky": true}
            );
        
</script>