<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>A propos</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
</head>
<body>
{% extends "menu.html" %}
{% block content %}
  <div class="aboutcontainer">
    <div class="profile">
      <div class="content">
        <h1>ANGUILLA Manon</h1>
        <h3>Scrum Master</h3>
        <p class="justify"></p>
      </div>
    </div>
    <div class="profile">
      <div class="content">
        <h1>WOLTER Tiphaine</h1>
        <h3>Project Owner</h3>
        <p class="justify"></p>
      </div>
    </div>
    <div class="profile">
      <div class="content">
        <h1>SALCEDO Thomas</h1>
        <h3>Membre de l'équipe</h3>
        <p class="justify"></p>
      </div>
    </div>
    <div class="profile">
      <div class="content">
        <h1>DAGIER Mathieu</h1>
        <h3>Membre de l'équipe</h3>
        <p class="justify"></p>
      </div>
    </div>
    <div class="profile">
      <div class="content">
        <h1>RESSEGUIER Mathieu</h1>
        <h3>Membre de l'équipe</h3>
        <p class="justify"></p>
      </div>
    </div>
  </div>
{% endblock %}

</body>
</html>