<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>
{% extends "menu.html" %}
{% block content %}
  <div class="homewrapper">
    <div class="div-1">
      <div class="title">
        <p>Présentation</p>
      </div>
    </div>
    <div class="div-2">
      <div class="content">
        <p><b>Projet effectué dans le cadre des matières Projet Intégré et Gestion de Projet du M1 Informatique</b> </br></br>
        Le but de ce projet est d'extraire des données de sites internet concernant des sites de l'UNESCO, de les traiter et de les analyser. 
          Nous avons choisi deux sites situés aux Etats-Unis, le Parc Naturel du Grand Canyon ainsi que les Missions de San Antonio.
          Nous nous sommes penchés sur l'analyse des flux touristiques de ces deux sites ainsi que l'influence de la période de l'année et de la météo sur la fréquentation et la note.
        </br>
        </p>
      </div>
    </div>
  </div>
{% endblock %}

</body>
</html>