<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
</head>
<body>
{% extends "menu.html" %}
{% block content %}
  <div class="homewrapper">
    <div class="div-1">
      <div class="title">
        <p>Présentation</p>
      </div>
    </div>
    <div class="div-2">
      <div class="contentHome">
        <p><b>Projet effectué dans le cadre des matières Projet Intégré et Gestion de Projet du M1 Informatique</b> </br></br>
        Le but de ce projet est d'extraire des données de sites internet concernant des sites de l'UNESCO, de les traiter et de les analyser. 
          Nous avons choisi deux sites situés aux Etats-Unis, le Parc Naturel du Grand Canyon ainsi que les Missions de San Antonio.
          Nous nous sommes penchés sur l'analyse des flux touristiques de ces deux sites ainsi que l'influence de la période de l'année et de la météo sur la fréquentation et la note.
        </br>
        </p>
      </div>
    </div>
  </div>
  <div class="aboutcontainer">
    <div class="profile">
      <div class="content">
        <h1>ANGUILLA Manon</h1>
        <h3>Scrum Master</h3>
        <p class="justify"></p>
      </div>
    </div>
    <div class="profile">
      <div class="content">
        <h1>WOLTER Tiphaine</h1>
        <h3>Project Owner</h3>
        <p class="justify"></p>
      </div>
    </div>
    <div class="profile">
      <div class="content">
        <h1>SALCEDO Thomas</h1>
        <h3>Membre de l'équipe</h3>
        <p class="justify"></p>
      </div>
    </div>
    <div class="profile">
      <div class="content">
        <h1>DAGIER Mathieu</h1>
        <h3>Membre de l'équipe</h3>
        <p class="justify"></p>
      </div>
    </div>
    <div class="profile">
      <div class="content">
        <h1>RESSEGUIER Mathieu</h1>
        <h3>Membre de l'équipe</h3>
        <p class="justify"></p>
      </div>
    </div>
  </div>
{% endblock %}

</body>
</html>